@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.feat_contCat {
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 7%;
     display: flex;
     justify-content: center;
}
.feat_catIn {
    
    margin-right: 6%;
}
.feat_catIn img{
    /* z-index: -1; */
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.4);
    transition: all ease-in-out 300ms; 
}
.feat_cardCar{
    box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.3);
    background: linear-gradient( #ffffff, #e9e9e9);
    transition: all ease-in-out 300ms; 

}
.feat_catIn p {
    position: relative;
    bottom: 45%;
    text-align: center;
}
.feat_catIn p a {
    text-decoration: none;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-size: 17px;
}
.feat_catIn img:hover{
     /* transition: .2s linear; */
    /* transform: scale(1.4); */
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.2);
    transform: translate(0px, -10px);
}

.feat_cardCar:hover{
     transform: scale(1.1); 
     box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.1);
     background: linear-gradient(#ffffff, #f0f0f0);
}

.feat_catIn p a:hover{
    color: cornflowerblue;
}
.feat_section{
    margin-bottom: 8%;
}
/* _____________________________CARROUSEL____________________________________ */
.featNet_section{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featNet_title{
    height: 15vw;
    width: 100%;
    text-align: center;
}
.feat_carous{
    height: 250px;
    width: 80%;
    position: relative;

}
.feat_carous .feat_SwitchLeft,
.feat_carous .feat_SwitchRight{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: lightgreen;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
}
.feat_carous .feat_SwitchLeft{
    position: absolute;
    left: -50px;
}
.feat_carous .feat_SwitchRight{
    position: absolute;
    right: -50px;
}















@media (max-width: 991px){
    .feat_contCat {
     
         display: flex;
         flex-wrap: wrap;
    }
}
/* _____________________________CARROUSEL MEDIA____________________________________ */
