@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');


#head_down{
    padding: 0 100px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.2);
    width: 100%;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
   
}
#head_logo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 2px;
    margin-left: -3%;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    
}
#head_logo img{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 5%;
    margin-right: 0%;
} 
#head_logo p{
    text-align: center;
    padding-top: 3%;
    margin-left: 0%;
    margin-bottom: 1%;
    font-size: 18px;
    font-family: Manga Style;
}    

#head_down nav{
    float: right;
    margin-right: -7%;
    
}
#head_down nav ul{
    margin: 0 ;
    padding: 0;
    display: flex;
}
#head_down nav ul li{
    list-style: none;
}
#head_down nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'Arimo', sans-serif;
    font-size: 17px;
    transition: all ease-in-out 250ms;
}
#head_down nav ul li a:hover, #head_down nav ul li a.active{
    color: #fff;
    margin-top: 0%;
    border-bottom: 2px solid rgb(126, 120, 120);
    color: #91868a;
    
}
.head_menu{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width: 991px){
    
    #head_down{
        padding: 0 20px;
        z-index: 5;
    }
    #head_logo{
        font-size: 20px;
    }
    #head_logo p{
        display: none;
        font-size: 20px;
    }
    #head_logo img{
        margin-left: 10%;
    }
    .head_menu{
        display: block;
        z-index: 5;
    }

    #head_down nav{
        position: absolute;
        width: 100%;
        height: calc(24.6vh - 50px);
        background: linear-gradient(45deg, #ffbc00, #ff0058);
        top: 80px;
        left: -100%;
        transition: 0.5s;
        z-index: 5;
    }
    #head_down nav.active{
        left: 0;
        z-index: 5;
    }
    #head_down nav ul{
        display: block;
        text-align: center;
        /* background-color: #333; */
        z-index: 5;
    }
    #head_down nav ul li a{
        
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        z-index: 5;
    }
}
@media (max-width: 794px){
    #head_down nav{
        top: 80px;
    }
}

@media (max-width: 628px){
    #head_down nav{
        top: 80px;
    }
}