@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.feat_contCat {
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 7%;
     display: flex;
     justify-content: center;
}
.feat_catIn {
    
    margin-right: 6%;
}
.feat_catIn img{
    /* z-index: -1; */
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.4);
    transition: all ease-in-out 300ms; 
}
.feat_cardCar{
    box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.3);
    background: linear-gradient( #ffffff, #e9e9e9);
    transition: all ease-in-out 300ms; 

}
.feat_catIn p {
    position: relative;
    bottom: 45%;
    text-align: center;
}
.feat_catIn p a {
    text-decoration: none;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-size: 17px;
}
.feat_catIn img:hover{
     /* transition: .2s linear; */
    /* transform: scale(1.4); */
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.2);
    transform: translate(0px, -10px);
}

.feat_cardCar:hover{
     transform: scale(1.1); 
     box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.1);
     background: linear-gradient(#ffffff, #f0f0f0);
}

.feat_catIn p a:hover{
    color: cornflowerblue;
}


@media (max-width: 991px){
    .feat_contCat {
     
         display: flex;
         flex-wrap: wrap;
    }
}
