@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Raleway:ital,wght@1,300&display=swap');
 .hea_topheader{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0,.2);
    font-family: 'Raleway', sans-serif;
}
.hea_topheader .hea_ul{
    text-align: end;
}
.hea_topheader .hea_ul li{
    list-style: none;
    display: inline-block;
    padding: 3px ;
    margin-right: 3%;
}
.hea_topheader .hea_ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all ease-in-out 250ms;
}
.hea_topheader .hea_ul li a:hover{
    
    border-bottom: 2px solid rgb(126, 120, 120);
}
@media all and (max-width: 968px){
    
    .hea_topheader .hea_ul{
        text-align: center;
    }
}




