@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.feat_section{
margin-left: 7%;
margin-right: 7%;
}
.feat_search{
    padding-top: 6%;
}


.feat_contCat {
    margin-top: 7%;
    /* margin-left: 1%; */
    margin-bottom: 7%;
     display: flex;
     justify-content: center;
     background-image: url(../../assets/media/sunlight.jpg);
     background-position: center; 
     background-size: cover;
     border: 3px solid #c9c6c3;
     border-radius: 4px;
}
.feat_catIn {
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}
.feat_catIn img{
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.4);
    transition: all ease-in-out 300ms; 
}
.feat_card{
    /* background-color: rgba(61, 58, 58, 0.829); */
    padding: 10px;
    background-image: url(../../assets/media/sha2.png);
    background-position: center; 
    background-size: cover;
    background: linear-gradient(#ece5e5, #a8a8ac);
    border-radius: 2px;
}

.feat_cardCar{
    box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.3);
    background: linear-gradient( #ffffff, #e9e9e9);
    transition: all ease-in-out 300ms; 
    margin: 2%;

}
.feat_catIn p {
    position: relative;
    bottom: 45%;
    text-align: center;
}
.feat_catIn p a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.feat_catIn img:hover{
     /* transition: .2s linear; */
    /* transform: scale(1.4); */
    box-shadow: 0px 27px 20px -20px rgb(0, 0, 0, 0.2);
    transform: translate(0px, -10px);
}

.feat_cardCar:hover{
     transform: scale(1.1); 
     box-shadow: 0px 7px 10px 0px rgb(0, 0, 0, 0.1);
     background: linear-gradient(#ffffff, #f0f0f0);
}

.feat_catIn p a:hover{
    color: #00bcd4;
}
.feat_section{
    margin-bottom: 8%;
}

.feat_name_card{
    font-family: Manga;
    font-size: 35px;
}

.feat_price_card{
    font-size: 20px;
    font-family: Manga;
}


/* _____________________________CARROUSEL ____________________________________ */

.feat_carousel_section {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    /* padding-left: 7%;
    padding-right: 7%; */
    /* height: 100%; */
    /* margin-bottom: 10%; */
    
  }
  .featNet_title{
    /* height: 5vw; */
    /* width: 100%; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #ff0058;
}

  .feat_carousel_section{
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 250px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
  }


/* _____________________________MEDIA QUERY____________________________________ */


@media (max-width: 991px){
    .feat_contCat {
     
         display: flex;
         flex-wrap: wrap;
    }
}
